In [1]:
#Guido Van Rossum dericed from ABC C C++ Modula-3 AmallTalk

Library - collection of related functionality of code
Package same as Library
Install lib 

Module -> .py file which has fxn,classes and global variable.

Fxn -> Related statements in a module

Python standard library- C I/O for python

Other Lib/Packages eg Numpy, Pandas

import module
eg : import numpy as np
eg : import numpy as np,pandas as pd

import fxn
eg: from numpy import mean as m

In [7]:
import numpy
import numpy as np
from numpy import mean
from numpy import mean as m 
a = [1,2,3,4,5]
print(numpy.mean(a))
print(np.mean(a))
print(mean(a))
print(m(a))

3.0
3.0
3.0
3.0

Why python? 
powerful and open sourced language
syntax
wide lib
de-facto industry standards

Python vs R
both are popular
R better for statistical work
academicians use R for Research

In [8]:
3+4-(9*4)

-29

In [9]:
#Variables

In [13]:
x = 3
y = 5
z = x+y
print(z)
z

8

8

In [14]:
#integer int
#decimal float
#string str 
#boolean bool

In [17]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [18]:
a = 'Aayush Purohit'
print(type(a))

<class 'str'>

In [19]:
len(a)

14

In [23]:
for i in range(len(a)):
    print(i,a[i])

0 A
1 a
2 y
3 u
4 s
5 h
6
7 P
8 u
9 r
10 o
11 h
12 i
13 t

In [25]:
a[-1]

't'

In [26]:
fn,ln = a.split(" ")

In [27]:
fn,ln

('Aayush', 'Purohit')

In [ ]:
# A O

In [42]:
a = 29
b = 10
a+b

39

In [43]:
a-b

19

In [44]:
a*b

290

In [45]:
a/b

2.9

In [46]:
#Modulo
a%b

9

In [47]:
#Floor division
a//b

2

In [49]:
#exponential
b**a

100000000000000000000000000000

In [50]:
#Cmp Operator

In [51]:
a==b

False

In [52]:
a!=b

True

In [53]:
a>b

True

In [54]:
a<b

False

In [57]:
a<=b

False

In [59]:
a>=b

True

In [60]:
#logical Operator
a = True
b = False
a and b

False

In [61]:
a or b

True

In [62]:
not a

False

In [63]:
#DS in Python

List
Ordered 
mutable - can change it values

In [64]:
age = [23,25,1,59,65]
type(age)

list

In [65]:
age

[23, 25, 1, 59, 65]

In [69]:
detail = ['Aayush',23,42]
detail[0]
detail[-1]

42

In [71]:
len(age)

5

In [72]:
age[-1],age[len(age)-1]

(65, 65)

In [74]:
# list[start,end]
age[0:2]

[23, 25]

In [79]:
age[-5:5]

[23, 25, 1, 59, 65]

In [80]:
for i in range(len(age)):
    age[i] += 10

In [81]:
age

[33, 35, 11, 69, 75]

In [82]:
age.append(1)
#add new at end

In [83]:
age

[33, 35, 11, 69, 75, 1]

In [84]:
age.pop()
#remove form end

1

In [85]:
age.pop(1) #index

35

In [86]:
age

[33, 11, 69, 75]

In [87]:
a = [1,2,3,4]
b = [5,6,7,8]
a.append(b)
a

[1, 2, 3, 4, [5, 6, 7, 8]]

In [88]:
a = [1,2,3,4]
b = [5,6,7,8]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [89]:
#Tuple are immutable ordered DS

In [91]:
a = (2,3,4,5)
type(a)

tuple

In [92]:
a[2]

4

In [94]:
#a[2] = 1

In [95]:
len(a)

4

In [101]:
#sets unordered and unindexed and unique value
a = {"aayush","purohit","gupta"}

In [102]:
#add
a.add("Ramesh")
a

{'Ramesh', 'aayush', 'gupta', 'purohit'}

In [103]:
#remove
a.remove("gupta")
a

{'Ramesh', 'aayush', 'purohit'}

In [105]:
a = {"a",1,2,"b"}
b = {"c","d",1,2}

In [106]:
a.union(b)

{1, 2, 'a', 'b', 'c', 'd'}

In [107]:
a.intersection(b)

{1, 2}

In [108]:
#dictionary key value

In [109]:
dic = {"key":"value",1:2,3:4}

In [110]:
dic.keys()

dict_keys(['key', 1, 3])

In [112]:
dic.values()

dict_values(['value', 2, 4])

In [113]:
dic[5]= 6
dic

{'key': 'value', 1: 2, 3: 4, 5: 6}

In [114]:
dic.pop(3)

4

In [115]:
dic

{'key': 'value', 1: 2, 5: 6}

In [116]:
#Conditional Statements 
#if else elif

In [128]:
marks = 45
if marks > 40:
    print("Pass")
else:
    print("Fail")

Pass

In [129]:
if marks>= 75:
    print("A")
elif marks >= 65:
    print("B")
elif marks >=40:
    print("C")
else:
    print("Fail")

C

In [131]:
a = ["a","c",1,5.3]
for i in a:
    print(i)

a
c
1
5.3

In [135]:
a= range(0,10)
a

range(0, 10)

In [139]:
t = [3,5]
for i in t:
    for j in range(1,11,3):
        print(i,"X",j,"=",i*j)
    print()

3 X 1 = 3
3 X 4 = 12
3 X 7 = 21
3 X 10 = 30

5 X 1 = 5
5 X 4 = 20
5 X 7 = 35
5 X 10 = 50

In [143]:
i = 10
while i > 0:
    print(i)
    i -= 3

10
7
4
1

In [144]:
#Functions

In [146]:
def fxnName(a,b):
    return a+b

fxnName(10,2)

12

In [148]:
def sqr(a):
    '''This fxn squares no'''
    print(a**2)
sqr(9)
sqr.__doc__

81

'this fxn squares no'

In [155]:
i = 100
def table(num):
    #print(i)
    for i in range(1,11):
        print(num,"*",i,"=",i*num)
    print(i)
table(3)
i

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
10

100

In [159]:
def fxn(b,a = 2):
    print(a)
    
fxn(10)
fxn(10,20)

2
20

In [160]:
#Lambda

In [161]:
sqr = lambda num : num**2
sqr(4)

16

In [162]:
mul = lambda a,b,c : a*b*c
mul(10,2,4)

80

In [163]:
#Membership Operator

In [165]:
a = [1,3,4]
1 in a, 2 in a, 3 not in a

(True, False, False)

Modules

In [175]:
import cal as cal
cal.sub1(10,9)

1

In [176]:
#Exception Handling

In [182]:
import sys
num = [2,3,4,0,23,43]
x = lambda i:print(1/i)
for i in num:
    try:
        x(i)
    except:
        print("Error",sys.exc_info()[0])

0.5
0.3333333333333333
0.25
Error <class 'ZeroDivisionError'>
0.043478260869565216
0.023255813953488372

r read
w write
a append
r+ read and write

In [187]:
with open("text_file.txt",mode = "w") as f:
    f.write("Hello \n")
    f.writelines("Kya baat\n")
    f.write("End \n")
f.close()

In [191]:
f = open("text_file.txt")
print(f.read())
f.close()

Hello
Kya baat
End

In [192]:
f = open("text_file.txt")
print(f.readlines())
f.close()

['Hello \n', 'Kya baat\n', 'End \n']